/*
FONTS
font-family: 'Alfa Slab One', cursive;
font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Diplomata SC', cursive;
font-family: 'Emblema One', cursive;
font-family: 'Keania One', cursive;
*/

body {
background-image: url('https://i.imgur.com/fcDFEEC.jpg');
background-size: cover;
}

.hero-text-div {
  position: relative;
}

.hero-h1-1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1000%;
  text-align: left;
  padding-left: 15%;
  color: whitesmoke;
}

.hero-h1-2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1000%;
    text-align: right;
    padding-right: 15%;
    color: whitesmoke;
}

.expand-more-icon {
  margin: auto;
  width: auto;
  text-align: center;
}

.hero-letsrock {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30%;
  transform: rotate(20deg);
  z-index: -999;
}

.hero-slash {
  position: absolute;
  bottom: 1%;

  width: 30%;
  transform: rotate(-20deg);
  z-index: -999;
}

.carousel-round-img {
  padding-top: 3%;
  padding-left: 2%;
  padding-bottom: 3%;
  width: 95%;
  
}

.carousel-side-text {
  font-family: 'Alfa Slab One', cursive;
  border: auto;
  padding-top: 15%;
  align-content: center;
  text-align: center;
  color: aliceblue;
  font-size: 120%;
}

.products-carousel-div{
  padding-top: 5%;
  position: relative;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 8%;
  overflow:hidden
}

.product-img {
  width: 40%;
}

.product-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.ino-img {
  width: 40%;
  position: absolute;
  top: 3%;
  right: -7%;
}

.vs-img {
  width: 100%;
  padding-left: -50;
  border-left: -50;
  margin-left: -50;
}

.tournament-div {
  padding: 10%;
}

.tournament-img {
  width: 100%;
  border: solid;
}