body {
background-image: url('https://i.imgur.com/fcDFEEC.jpg');
min-height: 500px;

/* Parallax Scrolling Effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;
}


.hero-text-div {
  position: relative;
  overflow:hidden
}

.hero-h1-1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1200%;
  text-align: left;
  padding-left: 15%;
  color: whitesmoke;
  overflow:hidden;
}

.hero-h1-2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1200%;
    text-align: right;
    padding-right: 15%;
    color: whitesmoke;
    overflow:hidden;
}

.expand-more-icon {
  margin: auto;
  width: auto;
  text-align: center;
}

.hero-letsrock {
  position: absolute;
  top: 7%;
  right: 10%;
  width: 30%;
  transform: rotate(20deg);
  z-index: -999;
  overflow:hidden
}

.hero-slash {
  position: absolute;
  bottom: 1%;
  width: 30%;
  transform: rotate(-20deg);
  z-index: -999;
  overflow:hidden
}

.whoweare-div {
  padding-left: 3%;
  padding-right: 3%;
}

.carousel-round-img {
  width: 90%;
  padding: 0px;
  border: 0px;
  margin: 0px
}

.carousel-title-text {
  font-family: 'Keania One', cursive;
  font-size: 260%;
  text-align: center;
  color: #ac0e0e;
  border: dashed;
}

.carousel-side-text {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  color: whitesmoke;
  font-size: 120%;
}

.products-carousel-div{
  padding-top: 5%;
  position: relative;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 8%;

}

.product-img {
  width: 60%;
  z-index: 999;
}

.product-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

.ino-img {
  width: 50%;
  position: absolute;
  top: 10%;
  right: -7%;
  overflow-x: hidden;
}

.vs-img-div {
  font-size:0;
}

.vs-text-div {
  position: relative;
}

.lyrics-div {
  position: absolute;
  top: 3%;
  left: 3%;
  line-height: 0;
}

.lyrics-text {
  color: whitesmoke;
  font-size: 240%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  z-index: 20;
}


.cover-top {
  width: 100%;
  z-index: -2;
  padding: 0;
  margin: 0;
border: 0}

.cover-bottom {
  width: 100%;
  z-index: -2;
  padding: 0;
  margin: 0;
border: 0}


.character-select-div {
  padding-left: 10%;
  padding-right: 10%
}

.character-select-img{
  opacity: 0.85
}

.music-select-h1 {
  text-align: center;
  font-family: 'Diplomata SC', cursive;
  font-size: 450%;
  text-shadow: 2px 2px #a00909;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.music-select-p {
text-align: center;
font-family: 'Alfa Slab One', cursive;
font-size: 180%;
text-shadow: 2px 2px #dbdbdb;
line-height: 1rem;
}

.music-select-background {
    background: linear-gradient(90deg, #d2d1d1 0%,#a24343 30%,#800f0f 67%, #d2d0d0 100%);
    background-size: 1000%;
}

.tournament-div {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.tournament-img {
  width: 105%;
  border: ridge;
  box-shadow: 5px 10px #0c0c0c;
  image-rendering: pixelated;
}

.tournament-text {
  text-shadow: 4px 4px #040404;
  color: rgb(242, 242, 242);
  font-size: 1.7rem;
  font-family: 'Alfa Slab One';
  margin-top: -5%;
}

.tournament-h2 {
  margin-top: -1%;
  font-size: 360%;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  text-shadow: 2px 2px #dbdbdb;
}

.accordion-div {
  margin-left: 5%;
  margin-right: 5%;
}

.footer-div {
  margin-top: 10%;
  position: relative
}

.footer-text{
  font-size: 90%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke
}

.chibimay-img {
  position: absolute;
  bottom: 0%;
  right: 5%;
  width: 12%;
  overflow: hidden;
}

.speechbubble-img {
  position: absolute;
  bottom: 12%;
  right: 14%;
  width: 22%;
  overflow: hidden;
}

/* MOBILE RULES - useMediaQuery Hook*/

@media (max-width: 600px) {
  .hero-h1-1{
    font-family: 'Bebas Neue', cursive;
    font-size: 400%;
    text-align: left;
    color: whitesmoke;
    overflow:hidden;
  }
  
  .hero-h1-2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 400%;
    text-align: right;
    color: whitesmoke;
    overflow:hidden;
  }
  
  .hero-letsrock {
    position: absolute;
    top: 8%;
    right: 5%;
    width: 50%;
    transform: rotate(20deg);
    z-index: -999;
    overflow:hidden
  }
  
  .hero-slash {
    position: absolute;
    top: 25%;
    width: 50%;
    transform: rotate(-20deg);
    z-index: -999;
    overflow:hidden
  }
  
  .carousel-title-text {
      font-family: 'Keania One', cursive;
      font-size: 200%;
      text-align: center;
      color: #ac0e0e;
      border: dashed;
  }

  .products-carousel-div{

    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 18%;
  
  }
  
  .ino-img {
    width: 110%;
    position: absolute;
    top: 8%;
    right: -57%;
    overflow-x: hidden;
  }
  
  .cover {
    position: relative ;
    width: 100%;
    overflow-x: hidden;
    padding-left: 40%;
  }
  
  .lyrics-div {
    position: absolute;
    top: 10%;
    left: 0.5%
  }
  
  .lyrics-text {
    color: whitesmoke;
    font-size: 150%;
    line-height: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px black;
    z-index: 20;
  }
  
  
  .music-select-h1 {
    text-align: center;
    justify-content: center;
    font-family: 'Diplomata SC', cursive;
    font-size: 200%;
    text-shadow: 2px 2px #a00909;
  }
  
  .music-select-p {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 120%;
  text-shadow: 2px 2px #dbdbdb;
  line-height: 1rem;
  
  }
  
  .character-select-img{
    width: 90%;
    opacity: 0.85
    
  }
  
  .tournament-img {
    width: 90%;
    margin-left: 3%;
  }

  .tournament-text {
    text-align: center;
    font-size: 100%;
  }
  
  
  
}

