/*
FONTS
font-family: 'Alfa Slab One', cursive;
font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Diplomata SC', cursive;
font-family: 'Emblema One', cursive;
font-family: 'Keania One', cursive;
*/

body {
background-image: url('https://i.imgur.com/fcDFEEC.jpg');
background-size: cover;
overflow-x: hidden;
}

.hero-text-div {
  position: relative;
  overflow:hidden
}

.hero-h1-1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1100%;
  text-align: left;
  padding-left: 15%;
  color: whitesmoke;
  overflow:hidden
}

.hero-h1-2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1100%;
    text-align: right;
    padding-right: 15%;
    color: whitesmoke;
    overflow:hidden
}

.expand-more-icon {
  margin: auto;
  width: auto;
  text-align: center;
}

.hero-letsrock {
  position: absolute;
  top: 7%;
  right: 10%;
  width: 30%;
  transform: rotate(20deg);
  z-index: -999;
  overflow:hidden
}

.hero-slash {
  position: absolute;
  bottom: 1%;
  width: 30%;
  transform: rotate(-20deg);
  z-index: -999;
  overflow:hidden
}

.whoweare-div {
  padding-left: 3%;
  padding-right: 3%;
}

.carousel-round-img {
  width: 100%;
}

.carousel-title-text {
  font-family: 'Keania One', cursive;
  font-size: 360%;
  text-align: center;
  color: #ac0e0e;
  border: dashed;
}

.carousel-side-text {
  font-family: 'Alfa Slab One', cursive;
  border: auto;
  align-content: center;
  text-align: center;
  color: whitesmoke;
  font-size: 130%;
}

.products-carousel-div{
  padding-top: 5%;
  position: relative;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 8%;
  overflow:hidden
}

.product-img {
  width: 60%;
}

.product-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

.ino-img {
  width: 50%;
  position: absolute;
  top: 3%;
  right: -7%;
}

.vs-img {
  width: 100%;
  padding-left: -50;
  border-left: -50;
  margin-left: -50;
}

.tournament-div {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.tournament-img {
  margin-top: 5%;
  width: 105%;
  border: ridge;
  box-shadow: 5px 10px #0c0c0c;
}

.tournament-text {
  text-shadow: 3px 3px #040404;
  color: whitesmoke;
  font-size: 130%;
  font-family: 'Alfa Slab One';
  margin-top: -5%;
}

.tournament-h2 {
  font-size: 300%;
  font-family: 'Bebas Neue', cursive;
}

.accordion-div {
  margin-left: 5%;
  margin-right: 5%;
}

.footer-div {
  margin-top: 10%;
  position: relative
}

.footer-text{
  font-size: 130%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke
}

.chibimay-img {
  position: absolute;
  bottom: 0%;
  right: 5%;
  width: 8%;
  overflow: hidden;
}

.speechbubble-img {
  position: absolute;
  bottom: 10%;
  right: 12%;
  width: 17%;
  overflow: hidden;
}